.demo-blog .coffee-pic .mdl-card__media {
  background-image: url('../images/coffee.jpg');
}

.demo-blog .typewriter-pic .mdl-card__media {
  background-image: url('../images/typewriter.jpg');
}

.demo-blog .akarin-pic .mdl-card__media {
  background-image: url('../images/akarin.jpg');
}

.demo-blog .keyboard-pic .mdl-card__media {
  background-image: url('../images/keyboard.jpg');
}

.demo-blog .tiger-pic .mdl-card__media {
  background-image: url('../images/tiger.jpg');
}

.demo-blog .broken-plane-pic .mdl-card__media {
  background-image: url('../images/broken-plane.jpg');
}

.demo-blog .wolf-pic .mdl-card__media {
  background-image: url('../images/wolf.jpg');
}

.demo-blog .blur-pic .mdl-card__media {
  background-image: url('../images/blur.jpg');
}

.demo-blog .brown-color .mdl-card__media {
    background-color: #795548;
}

.demo-blog .red-color .mdl-card__media {
    background-color: #F44336;
}

.demo-blog .pink-color .mdl-card__media {
    background-color: #E91E63;
}

.demo-blog .purple-color .mdl-card__media {
    background-color: #9C27B0;
}

.demo-blog .indigo-color .mdl-card__media {
    background-color: #3F51B5;
}

.demo-blog .blue-color .mdl-card__media {
    background-color: #2196F3;
}

.demo-blog .teal-color .mdl-card__media {
    background-color: #009688;
}

.demo-blog .blue-grey-color .mdl-card__media {
    background-color: #607D8B;
}

.demo-blog .on-the-road-again .mdl-card__media {
  background-image: url('../images/road.jpg');
}

.demo-blog .shopping .mdl-card__media {
  background-image: url('../images/shopping.jpg');
}
