---
layout: index
title: Typeblog
---
<div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
  <main class="mdl-layout__content">
    <div class="demo-blog__posts mdl-grid">
      <div class="mdl-card typewriter-pic mdl-cell mdl-cell--8-col">
        <div class="mdl-card__media mdl-color-text--grey-50 mdl-js-button mdl-js-ripple-effect">
          <h3><a href="{{ site.baseurl }}">Typeblog</a></h3>
        </div>
        <div class="mdl-card__supporting-text meta meta-fill mdl-color-text--grey-600">
          <div class="minilogo"></div>
          <div>
            <strong>PeterCxy</strong>
            <span>is typing...</span>
          </div>
        </div>
      </div>
      <div class="mdl-card something-else mdl-cell mdl-cell--8-col mdl-cell--4-col-desktop akarin-pic">
        <button id="linkbtn" class="mdl-button mdl-js-ripple-effect mdl-js-button mdl-button--fab mdl-color--accent">
          <i class="material-icons mdl-color-text--white" role="presentation">link</i>
          <span class="visuallyhidden">links</span>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="linkbtn">
          <li class="mdl-menu__item mdl-js-ripple-effect"><a href="https://biergaizi.info">比尔盖子的博客</a></li>
          <li class="mdl-menu__item mdl-js-ripple-effect"><a href="https://blog.papdt.info">纸飞机的停机坪</a></li>
          <li class="mdl-menu__item mdl-js-ripple-effect"><a href="https://www.lunaticm.com">LunaticM's</a></li>
          <li class="mdl-menu__item mdl-js-ripple-effect"><a href="http://feng.moe">烧饼的小窝</a></li>
        </ul>
        <div class="mdl-card__media mdl-color-text--grey-900 mdl-js-button mdl-js-ripple-effect">
         <h3>颠倒的阿卡林型次元</h3>
        </div>
        <div class="mdl-card__supporting-text meta meta--fill mdl-color-text--grey-600">
          <div>
            <strong>or PeterCxy</strong>
          </div>
          <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="menubtn">
            <li class="mdl-menu__item mdl-js-ripple-effect"><a href="{{ site.baseurl }}about">About</a></li>
            <li class="mdl-menu__item mdl-js-ripple-effect"><a href="{{ site.baseurl }}feed.xml">RSS</a></li>
            <li class="mdl-menu__item mdl-js-ripple-effect"><a href="https://github.com/PeterCxy">GitHub</a></li>
            <li class="mdl-menu__item mdl-js-ripple-effect"><a href="https://blog.papdt.info/">Dev Team</a></li>
          </ul>
          <button id="menubtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">more_vert</i>
            <span class="visuallyhidden">show menu</span>
          </button>
        </div>
      </div>
      {% for post in paginator.posts %}
      {% include single.html %}
      {% endfor %}
      <nav class="demo-nav mdl-cell mdl-cell--12-col">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="demo-nav__button" title="previous page">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">arrow_back</i>
          </button>
          Newer
        </a>
        {% endif %}
        {% if paginator.next_page %}
        <div class="section-spacer"></div>
        <a href="{{ paginator.next_page_path }}" class="demo-nav__button" title="next page">
          Older
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">arrow_forward</i>
          </button>
        </a>
        {% endif %}
      </nav>
    </div>
