---
layout: index
title: Typeblog
---
      <div class="col-xs-12 col-sm-9">
        {% for post in paginator.posts %}
        {% include single.html %}
        {% endfor %}
        <div class="align-center">
          <ul class="pagination">
            {% if paginator.previous_page %}
            <li><a href="{{ paginator.previous_page_path }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><a>&laquo;</a></li>
            {% endif %}
            {% if paginator.page <= 2 %}
            {% if paginator.page == 1 %}
            <li class="active"><a href="{{ site.baseurl }}">1</a></li>
            {% else %}
            <li><a href="{{ site.baseurl }}">1</a></li>
            {% endif %}
            {% if paginator.total_pages > 2 %}
            {% for count in (2..3) %}
            {% if count == paginator.page %}
            <li class="active"><a href="{{ site.baseurl }}page{{ count }}">{{ count }}</a></li>
            {% else %}
            <li><a href="{{ site.baseurl }}page{{ count }}">{{ count }}</a></li>
            {% endif %}
            {% endfor %}
            {% else %}
            {% for count in (2..paginator.total_pages) %}
            {% if count == paginator.page %}
            <li class="active"><a href="{{ site.baseurl }}page{{ count }}">{{ count }}</a></li>
            {% else %}
            <li><a href="{{ site.baseurl }}page{{ count }}">{{ count }}</a></li>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% else %}
            {% for count in (paginator.previous_page..paginator.total_pages) limit:3 %}
            {% if count == paginator.page %}
            <li class="active"><a href="{{ site.baseurl }}page{{ count }}">{{ count }}</a></li>
            {% else %}
            <li><a href="{{ site.baseurl }}page{{ count }}">{{ count }}</a></li>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% if paginator.next_page %}
            <li><a href="#">&raquo;</a></li>
            {% else %}
            <li class="disabled"><a>&raquo;</a></li>
            {% endif %}
          </ul><!--/.pagination-->
        </div><!--/.align-center-->
      </div>
      {% include sidebar.html %}
