      <div class="col-xs-6 col-sm-3 sidebar">
        <div class="jumbotron sidebar-module sidebar-module-inset">
          <h4>关于博客</h4>
          <p>这里是 颠倒的阿卡林型次元(喝雪碧的虾/PeterCxy) 的个人博客。本博客中一切原创内容采用 <a href="https://creativecommons.org/licenses/by-sa/3.0/cn/">知识共享许可协议</a> 进行许可</p>
        </div>
        <div class="jumbotron sidebar-module sidebar-module-inset">
          <h4>友情提醒</h4>
          <p>访问本站请使用 <b>高版本</b> IE浏览器或 FireFox / Chrome</p>
          <p>本站已全线启用 <b>https</b> 安全链接，如果访问本站时地址栏前没有 <b>https</b> 或 <b>https</b> 显示为红色，请立即停止访问！</p>
        </div>
        <div class="jumbotron sidebar-module sidebar-module-inset">
          <h4>近期文章</h4>
          <ol class="list-unstyled">
            {% for post in site.posts limit:7 %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
          </ol>
        </div>
        <div class="jumbotron sidebar-module sidebar-module-inset">
            <h4>友情链接</h4>
            <ol class="list-unstyled">
                <li><a href="https://blog.papdt.info">纸飞机的停机坪</a></li>
                <li><a href="https://shandian.us">Light OpenSource Project</a></li>
                <li><a href="https://biergaizi.info">比尔盖子的博客</a></li>
                <li><a href="http://feng.moe">烧饼的小窝</a></li>
                <li><a href="https://www.lunaticm.com">LunaticM's</a></li>
            </ol>
        </div>
        <div class="jumbotron sidebar-module sidebar-module-inset">
          <h4>我的社交</h4>
          <ol class="list-unstyled">
            <li><a href="http://weibo.com/u/1789004515">新浪微博</a></li>
            <li><a href="https://github.com/PeterCxy">GitHub</a></li>
            <li><a href="https://plus.google.com/u/1/105158284914081414108">Google+</a></li>
          </ol>
        </div>
      </div><!-- /.sidebar -->
