            <article class="alist">
                <div class="alist-time">
                    <span class="alist-year">{{ post.date | date: "%Y" }}</span>
                    <span class="alist-date">{{ post.date | date: "%m.%d" }}</span>
                </div>
                <div class="alist-container">
                    <h2 class="alist-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    <div class="alist-meta">分类: {{ post.categories }} / 发表于: {{ post.date | date: "%Y 年 %m 月 %d 日" }}</div>
                    <div class="alist-content">
                        {{ post.summary }} <br /> [......]
                        <p class='read-more'><a href="{{ post.url }}">阅读全文</a></p>
                    </div>
                </div>
            </article>
