        <!-- Post start -->
        <div class="mdl-card {{ post.type }} mdl-cell mdl-cell--12-col">
          <div class="mdl-card__media mdl-color-text--grey-50 mdl-js-button mdl-js-ripple-effect">
            <h3 class="quote"><a href="{{ post.url }}">{{ post.title }}</a></h3>
          </div>
          <div class="mdl-color-text--grey-600 mdl-card__supporting-text">
            {{ post.excerpt }}
          </div>
          <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
            <div class="minilogo"></div>
            <div>
              <strong>PeterCxy</strong>
              <span>{{ post.date | date: "%Y.%m.%d" }}</span>
            </div>
          </div>
        </div>
        <!-- Post end -->
