{% include header.html %}
<div class="demo-blog demo-blog--blogpost mdl-layout mdl-js-layout has-drawer is-upgraded">
  <main class="mdl-layout__content">
    <div class="demo-back">
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="{{ site.baseurl }}" title="go back" role="button">
        <i class="material-icons" role="presentation">arrow_back</i>
      </a>
    </div>
    <div class="demo-blog__posts mdl-grid">
      <div class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col {{ page.type }}">
        <div class="mdl-card__media mdl-color-text--grey-50">
          <h3>{{ page.title }}</h3>
        </div>
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
          <div class="minilogo"></div>
          <div>
            <strong>PeterCxy</strong>
            <span>typed...</span>
          </div>
        </div>
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text">
            {{ content }}
        </div>
        <div class="mdl-color-text--primary-contrast mdl-card__supporting-text comments" id="disqus_thread">
            <noscript>请打开JavaScript来浏览<a href="http://disqus.com/?ref_noscript">DisQus 评论.</a></noscript>
            <p>请等待评论加载</p>
        </div>
        <script type="text/javascript">
            var disqus_shortname = 'hxbdx';

            var disqus_url = "{{ site.url }}{{ page.url }}";

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'https://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
       </div>
      </div>


{% include footer.html %}
