{% include header.html %}
<body>
<div id="wrapper" class="w">
    <div id="settings">
        <div class="setting">
            <div class="sidebar-control"><a href="javascript:;" class="b open" status="open" title="点击关闭">打开</a>侧边栏</div>
        </div>
        <a href="javascript:;" class="setting-button">个性化设置</a>
    </div>
    <h2 class="page-title">{{ page.title }}</h2>
    <br class="clr" />
    <div id="container" class="w">
        <div id="post">
            <div class="post-content">
                {{ content }}
                <br /><br />
            </div>
            <div class="post-comments">
                <div id="disqus_thread">
                </div>

                <script type="text/javascript">
                    var disqus_shortname = 'hxbdx';

                    var disqus_url = "{{ site.url }}{{ page.url }}";

                    (function() {
                          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>请打开JavaScript来浏览<a href="http://disqus.com/?ref_noscript">DisQus 评论.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">请等待评论加载</a></div>
            </div>
            <aside id="sidebar">
            {% include sidebar.html %}
            </aside>
        </div>
    </div>
</div>
</body>
{% include footer.html %}
